<div class="modal fade" id="addOLModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="addOLFields">
                    <div id="inputDiv" class="flexRowCenter">
                        <form>
                            <input class="text-center" placeholder="Produit..." autocomplete="off" list="productsList" id="productInput" />
                            <input type="hidden" list="productsList" name="ClientId" id="hiddenOLInput" />
                            <datalist id="productsList"></datalist>
                        </form>
                    </div>
                    <br />
                    <div id="productDetails">
                    </div>
                    <div id="warningOL" class="text-danger text-center">
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a href="#" class="btn btn-success" id="addOLBtn">Ajouter</a>
                <a class="btn btn-secondary btn-cancel end" data-bs-dismiss="modal">Fermer</a>
            </div>
        </div>
    </div>
</div>


<script>
    InitOLModal();
</script>
